@model List<ShowCommentViewModel>

<h2>Comments:</h2>

@foreach (var comment in Model)
{
    <!-- comment -->
    <div class="media">
        <div class="media-body">
            <div class="media-heading">
                <h4>@comment.User</h4>
                <span class="time">
                    @comment.DateCreated
                </span>
            </div>
            <p>@Html.DisplayFor(modelItem => comment.Comment)</p>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
        {
            <form method="get" action="@Url.Action("Edit", "Comment", new { id = comment.ID })" id="edit-button" class="edit-delete-btns-forms">
                <button class="btn btn-primary admin-btns" type="submit">Edit</button>
            </form>
            <form method="post" action="@Url.Action("Delete", "Comment", new { id = comment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
        else if (User.IsInRole("Developer") && comment.UserID == comment.CurrentUserID)
        {
            <form method="get" action="@Url.Action("Edit", "Comment", new { id = comment.ID })" id="edit-button" class="edit-delete-btns-forms">
                <button class="btn btn-primary admin-btns" type="submit">Edit</button>
            </form>
            <form method="post" action="@Url.Action("Delete", "Comment", new { id = comment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
        else if (User.IsInRole("Submitter") && comment.UserID == comment.CurrentUserID)
        {
            <form method="get" action="@Url.Action("Edit", "Comment", new { id = comment.ID })" id="edit-button" class="edit-delete-btns-forms">
                <button class="btn btn-primary admin-btns" type="submit">Edit</button>
            </form>
            <form method="post" action="@Url.Action("Delete", "Comment", new { id = comment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
    </div>
    <!-- /comment -->
    <hr/>
}
