@model FullTicketViewModel
@{
    ViewBag.Title = "FullTicket";
}

<h2>FullTicket</h2>

<p>@Model.ID</p>
<p>@Model.ProjectID</p>
<p>@Model.Title</p>
<p>@Model.Slug</p>
<p>@Model.Description</p>
<p>@Model.DateCreated</p>
<p>@Model.DateUpdated</p>
<p>@Model.Type</p>
<p>@Model.Priority</p>
<p>@Model.Status</p>
<p>@Model.OwnerUser</p>
<p>@Model.AssignedToUser</p>
<hr />


@Html.Action("Show", "Comment", new { id = Model.ID })

@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
{
    @Html.Action("Create", "Comment", new { id = Model.ID })
}
else if (User.IsInRole("Developer") && Model.UserID == Model.AssignedToUserID)
{
    @Html.Action("Create", "Comment", new { id = Model.ID })
}
else if (User.IsInRole("Submitter") && Model.UserID == Model.OwnerUserID)
{
    @Html.Action("Create", "Comment", new { id = Model.ID })
}

@Html.Action("ShowTicketAttachments", "Attachment", new { id = Model.ID })

@if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
{
    <p>
        <a id='registerLink' href='@Url.Action("Add", "Attachment", new { id = Model.ID })'>
            <button class="btn btn-primary">Add Attachment to Ticket</button>
        </a>
    </p>
}
else if (User.IsInRole("Developer") && Model.UserID == Model.AssignedToUserID)
{
    <p>
        <a id='registerLink' href='@Url.Action("Add", "Attachment", new { id = Model.ID })'>
            <button class="btn btn-primary">Add Attachment to Ticket</button>
        </a>
    </p>
}
else if (User.IsInRole("Submitter") && Model.UserID == Model.OwnerUserID)
{
    <p>
        <a id='registerLink' href='@Url.Action("Add", "Attachment", new { id = Model.ID })'>
            <button class="btn btn-primary">Add Attachment to Ticket</button>
        </a>
    </p>
}

