@model List<ShowTicketViewModel>
@{
    ViewBag.Title = "TicketsIMade";
}

<h2>Tickets I Made</h2>

<table class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                Status
            </th>
            <th>
                Priority
            </th>
            <th>
                Type
            </th>
            <th>
                Assigned User
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Project
                </td>
                <td>
                    <h5 class="post-title"><a href="@Url.Action("FullTicketBySlug", "Ticket", new { slug = item.Slug })">@item.Title</a></h5>
                </td>
                <td>
                    @if (item.Description.Count() > 50)
                    {
                        <p>@Html.Raw(item.Description.Substring(0, 24))...</p>
                    }
                    else
                    {
                        <p>@Html.Raw(item.Description)</p>
                    }
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.DateCreated)</p>
                </td>
                <td>
                    @if (item.DateUpdated != "")
                    {
                        <p>@Html.DisplayFor(modelItem => item.DateUpdated)</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Priority
                </td>
                <td>
                    <p class="project-users-number">@Html.DisplayFor(modelItem => item.AssignedToUser)</p>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <form method="get" action="@Url.Action("EditTicketUsers", "ManageTicketUsers", new { id = item.ID })" id="edit-button" class="edit-delete-btns-forms">
                            <button class="btn btn-primary admin-btns" type="submit">Change</button>
                        </form>
                    }
                </td>
                <td>
                    @item.OwnerUser
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        <form method="get" action="@Url.Action("EditAsAdminOrProjectManager", "Ticket", new { id = item.ID })" id="edit-button" class="edit-delete-btns-forms">
                            <button class="btn btn-primary admin-btns" type="submit">Edit</button>
                        </form>
                        <form method="post" action="@Url.Action("Delete", "Ticket", new { id = item.ID })" class="edit-delete-btns-forms">
                            <button class="btn btn-primary red" type="submit">X</button>
                        </form>
                    }
                    else if (User.IsInRole("Developer") && item.AssignedToUserID == item.CurrentUserID)
                    {
                        <form method="get" action="@Url.Action("EditAsDeveloper", "Ticket", new { id = item.ID })" id="edit-button" class="edit-delete-btns-forms">
                            <button class="btn btn-primary admin-btns" type="submit">Edit</button>
                        </form>
                        <form method="post" action="@Url.Action("Delete", "Ticket", new { id = item.ID })" class="edit-delete-btns-forms">
                            <button class="btn btn-primary red" type="submit">X</button>
                        </form>
                    }
                    else if (User.IsInRole("Submitter") && item.OwnerUserID == item.CurrentUserID)
                    {
                        <form method="get" action="@Url.Action("EditAsSubmitter", "Ticket", new { id = item.ID })" id="edit-button" class="edit-delete-btns-forms">
                            <button class="btn btn-primary admin-btns" type="submit">Edit</button>
                        </form>
                        <form method="post" action="@Url.Action("Delete", "Ticket", new { id = item.ID })" class="edit-delete-btns-forms">
                            <button class="btn btn-primary red" type="submit">X</button>
                        </form>
                    }


                </td>
            </tr>
        }
    </tbody>

</table>


