@model List<IndexAttachmentViewModel>
@{
    ViewBag.Title = "ShowAllAttachments";
}

<h2>ShowAllAttachments</h2>

@foreach (var attachment in Model)
{
    <!-- comment -->
    <div class="media">
        <div class="media-body">
            <div class="media-heading">
                <h4>@attachment.User</h4>
                <span class="time">
                    @attachment.Created
                </span>
            </div>
            <p>@Html.DisplayFor(modelItem => attachment.Description)</p>
        </div>
        <p>@Html.DisplayFor(modelItem => attachment.FilePath)</p>
        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
        {
            <form method="post" action="@Url.Action("Delete", "Attachment", new { id = attachment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
        else if (User.IsInRole("Developer") && attachment.UserID == attachment.CurrentUserID)
        {
            <form method="post" action="@Url.Action("Delete", "Attachment", new { id = attachment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
        else if (User.IsInRole("Submitter") && attachment.UserID == attachment.CurrentUserID)
        {
            <form method="post" action="@Url.Action("Delete", "Attachment", new { id = attachment.ID })" class="edit-delete-btns-forms">
                <button class="btn btn-primary red" type="submit">X</button>
            </form>
        }
    </div>
    <!-- /comment -->
    <hr/>
}
